*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.header {
    width: 100%;
    height: 6rem;
}

.nav{
    display: flex;
    justify-content: flex-end;
    height: 100%;
    
    
}

.nav__list{
  display: flex;
  font-size: 1.3rem;
  width: 25rem;  
  list-style: none;
  justify-content: center;
  align-items: center;
}

.nav__link{
    margin-right: 1rem;
    color: #000;
}

.nav__icon{
    background-image: url('https://static.thenounproject.com/png/756729-200.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 2.5rem;
    height: 2.5rem;
}

.nav__link img {
    border-radius: 50%;
    margin-left: 1rem;
}


.main {
    margin-top: 15rem;
    text-align: center;
}

.main__img{
    width: 53rem;
    margin: 0 auto;
    margin-bottom: 3.5rem;
}

.main__picture{
    width: 30rem;
}

.main__search{
    width: 53rem;
    margin: 0 auto;
    margin-bottom: 3.5rem;
}

.search-container{
    width: 52.5rem;
    border-radius: 10rem;
    border: 0.1rem solid #dfe1e5;
    display: flex;
    justify-content: center;
    align-items: center;
}


.search-container__input{

    width: 45rem;
    height: 4rem;
    border: none;
    outline: none;

}

.search-container:hover{

    box-shadow: 0 0.1rem 0.6rem 0 #20212447;
    border-color: #dfe1e500;

}

.search-container__icon{
    background-image: url('https://cdn0.iconfinder.com/data/icons/google-material-design-3-0/48/ic_search_48px-512.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 1.8rem;
    height: 1.8rem;

}

.search-container__link{
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Google_mic.svg/726px-Google_mic.svg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 1.8rem;
    height: 1.8rem;
    cursor: pointer;

}

.main__buttons{
    width: 53rem;
    margin: 0 auto;
    
}

.button{
    display: inline-block;
}

.button button {
    height: 3.6rem;
    background-color: #f2f2f2;
    border: 0;
    font-size: 1.4rem;
    color: #5f6368;
    border-radius: 0.5rem;
    padding: 0 1.5rem ;
    cursor: pointer;
    margin-right: 1.5rem;
}

.button button:hover{
    border: 0.1rem solid #c6c6c6 ;
    box-shadow: 0 0.1rem 0.1rem #000001;
    color: #222;
}
